In [4]:
from sklearn.metrics import ndcg_score, dcg_score
import pandas as pd
import numpy as np
import random
import torch
from torch.utils.data import Dataset, DataLoader
from mind import MindTensor, MindTF_IDF
from main import train_params, test_params, tfidf_params

In [5]:
p = tfidf_params
p['data_path'] = '../data/'
p['pkl_path'] = '../pkl/'
p['save'] = False
train = MindTF_IDF(**p)

Creating MindTF_IDF Class
Setting attributes
Loading data
Running TF-IDF vectorizer
Done

In [6]:
train.behave

,user_id,history,impressions
0,U100,"[15220, 47060, 43752, 13391, 46313, 48611, 503...","[7774, 21484, 23992, 22940, 113, 21869, 23051,..."
1,U1000,"[46201, 29589, 47958, 46201, 29589, 47958, 462...","[27709, 37969, 26464, 3272, 28230, 17231, 2787..."
2,U10001,"[48099, 28246, 6579, 32652, 3475, 49425, 5105,...","[35839, 9462, 29142, 15854, 28385, 9126, 11249..."
3,U10003,"[38269, 49918, 39715, 26935, 7226, 38017, 1581...","[14224, 18744, 24629, 725, 22417, 16221, 27730..."
4,U10008,"[31438, 44886, 40416, 30108, 952, 6250, 14285,...","[13391, 34733, 25060, 11594, 10307, 25374, 491..."
...,...,...,...
49103,U9993,"[47093, 48858]","[14351, 11201, 18145, 8989, 9031, 3103, 17264,..."
49104,U9995,"[32195, 40452, 35696, 38048, 36380, 37372, 488...","[14351, 10992, 11201, 8989, 4769, 16996, 12330..."
49105,U9996,"[13892, 3959, 48538, 51101, 41784, 13892, 3959...","[8810, 24440, 8150, 17331, 17956, 9239, 7782, ..."
49106,U9997,"[44745, 15222, 34494, 12629, 3459, 13147, 3738...","[25825, 8407, 24893, 8055, 46465, 11751, 10071..."
49107,U9999,"[33459, 41791, 638, 2396, 43655, 35851, 1598, ...","[20415, 21927, 29253, 3529, 22110, 17935, 2232..."

In [8]:
df = train.news.drop('clicks', axis=1)

In [9]:
df

      news_id                                               text
0      N55528  queen charles philip elizabeth swear prince brand
1      N19639                              fat habit belly worst
2      N61837           freeze cost trench war aid ukraine trump
3      N53526                    health nba wife mental affected
4      N38324           tag dermatologist according rid skin get
...       ...                                                ...
51277  N42402  head year crash intentional beach sentenced vi...
51278  N41543  john decade calipari kentucky adapting second ...
51279  N59720                               astros smith recover
51280  N22625             paid player team highest analyzing nba
51281  N44276                        sport car october best deal

[51282 rows x 2 columns]

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [11]:
idf = TfidfVectorizer(use_idf=False, ngram_range=(1,2), max_features=2500, min_df=0.0005)

In [12]:
mat = idf.fit_transform(df['text'])

In [16]:
print(mat[0:])

  (0, 1745)	0.4472135954999579
  (0, 389)	0.4472135954999579
  (0, 711)	0.4472135954999579
  (0, 1704)	0.4472135954999579
  (0, 265)	0.4472135954999579
  (1, 786)	0.7071067811865475
  (1, 2477)	0.7071067811865475
  (2, 875)	0.3779644730092272
  (2, 504)	0.3779644730092272
  (2, 2396)	0.3779644730092272
  (2, 44)	0.3779644730092272
  (2, 2327)	0.3779644730092272
  (2, 2299)	0.3779644730092272
  (2, 2328)	0.3779644730092272
  (3, 997)	0.5
  (3, 1460)	0.5
  (3, 2437)	0.5
  (3, 1370)	0.5
  (4, 11)	0.5773502691896258
  (4, 2023)	0.5773502691896258
  (4, 908)	0.5773502691896258
  (5, 817)	0.5773502691896258
  (5, 1652)	0.5773502691896258
  (5, 1484)	0.5773502691896258
  (6, 1549)	0.4082482904638631
  :	:
  (51277, 1318)	0.35355339059327373
  (51277, 993)	0.35355339059327373
  (51277, 182)	0.35355339059327373
  (51277, 2373)	0.35355339059327373
  (51277, 1707)	0.35355339059327373
  (51277, 1964)	0.35355339059327373
  (51278, 1150)	0.3779644730092272
  (51278, 374)	0.3779644730092272
  (51278, 2088)	0.3779644730092272
  (51278, 1780)	0.3779644730092272
  (51278, 1942)	0.3779644730092272
  (51278, 1175)	0.3779644730092272
  (51278, 590)	0.3779644730092272
  (51279, 133)	0.7071067811865475
  (51279, 2030)	0.7071067811865475
  (51280, 1460)	0.4472135954999579
  (51280, 1652)	0.4472135954999579
  (51280, 2186)	0.4472135954999579
  (51280, 1565)	0.4472135954999579
  (51280, 1016)	0.4472135954999579
  (51281, 1513)	0.4472135954999579
  (51281, 210)	0.4472135954999579
  (51281, 337)	0.4472135954999579
  (51281, 2065)	0.4472135954999579
  (51281, 584)	0.4472135954999579