In [1]:
from sklearn.metrics import ndcg_score, dcg_score
import pandas as pd
import numpy as np
import random
import torch
from torch.utils.data import Dataset, DataLoader
from mind import MindTensor, MindTF_IDF
from main import train_params, test_params, tfidf_params

In [2]:
p = tfidf_params
p['data_path'] = '../data/'
p['pkl_path'] = '../pkl/'
p['save'] = False
train = MindTF_IDF(**p)

Creating MindTF_IDF Class
Setting attributes
Loading data
Running TF-IDF vectorizer
Done

In [3]:
train.behave

,user_id,history,impressions
0,U100,"[15220, 47060, 43752, 13391, 46313, 48611, 503...","[7774, 21484, 23992, 22940, 113, 21869, 23051,..."
1,U1000,"[46201, 29589, 47958, 46201, 29589, 47958, 462...","[27709, 37969, 26464, 3272, 28230, 17231, 2787..."
2,U10001,"[48099, 28246, 6579, 32652, 3475, 49425, 5105,...","[35839, 9462, 29142, 15854, 28385, 9126, 11249..."
3,U10003,"[38269, 49918, 39715, 26935, 7226, 38017, 1581...","[14224, 18744, 24629, 725, 22417, 16221, 27730..."
4,U10008,"[31438, 44886, 40416, 30108, 952, 6250, 14285,...","[13391, 34733, 25060, 11594, 10307, 25374, 491..."
...,...,...,...
49103,U9993,"[47093, 48858]","[14351, 11201, 18145, 8989, 9031, 3103, 17264,..."
49104,U9995,"[32195, 40452, 35696, 38048, 36380, 37372, 488...","[14351, 10992, 11201, 8989, 4769, 16996, 12330..."
49105,U9996,"[13892, 3959, 48538, 51101, 41784, 13892, 3959...","[8810, 24440, 8150, 17331, 17956, 9239, 7782, ..."
49106,U9997,"[44745, 15222, 34494, 12629, 3459, 13147, 3738...","[25825, 8407, 24893, 8055, 46465, 11751, 10071..."
49107,U9999,"[33459, 41791, 638, 2396, 43655, 35851, 1598, ...","[20415, 21927, 29253, 3529, 22110, 17935, 2232..."