In [1]:
from sklearn.metrics import ndcg_score, dcg_score
import pandas as pd
import numpy as np
import random
import torch
from torch.utils.data import Dataset, DataLoader
from mind import MindTF_IDF, MindTensorMul, MindTensorDot
from main import train_params, test_params, tfidf_params
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
p = tfidf_params
p['data_path'] = '../data/'
p['pkl_path'] = '../pkl/'
p['group'] = False
# p['data_rows'] = 10000
p['save'] = False
p['min_df'] = 0.0005
p['max_features'] = None
train = MindTF_IDF(**p)

Creating MindTF_IDF Class
Setting attributes
Loading data
Running TF-IDF vectorizer
Dropping train MindTF_IDF duplicates from behave
Done

In [4]:
train.news

      news_id                                               text  clicks
0      N55528  notebook shop swear live charles lifestyle pri...  4249.0
1      N19639  health good habit harmless unwanted belly back...  3289.0
2      N61837  war trump empty sniper already ukraine molchan...  3181.0
3      N53526  health felt affected nba nearly like fact dest...  2782.0
4      N38324  skin health according seem good reader get har...  2519.0
...       ...                                                ...     ...
51277  N42402  intentional bar matthew malicious court pleade...     0.0
51278  N41543  john sport challenge start kentucky basketball...     0.0
51279  N59720  hallway celebration josé verge smith lead full...     0.0
51280  N22625   sport highest team nba nan analyzing player paid     0.0
51281  N44276               sport auto deal best nan october car     0.0

[51282 rows x 3 columns]